<div style="text-align: center; background-color: #5A96E3; font-family: 'Trebuchet MS', Arial, sans-serif; color: white; padding: 20px; font-size: 40px; font-weight: bold; border-radius: 0 0 0 0; box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);">
  Data collecting
</div>

<div style= "color: white">
<center>
Group 10

Quách Tấn Dũng - 21127247

Phạm Trần Minh Duy - 21127257

Đặng Quốc Thái - 21127545
</center>
</div>

In [1]:
import pandas as pd
import requests
import json

### Collect data
-   Data get from: https://data.apps.fao.org/

In [2]:
# This some URLs that we find from that wesite, we gonna go with Vietnam
area_code = 237 # Vietnam area code according to FAO
content = requests.get(f"https://fenixservices.fao.org/faostat/api/v1/en/data/QCL?area={area_code}")

In [3]:
print(content.headers)

{'Date': 'Fri, 01 Dec 2023 11:46:36 GMT', 'Content-Type': 'application/json; charset=utf-8', 'Transfer-Encoding': 'chunked', 'Connection': 'keep-alive', 'CF-Ray': '82eb170fed98509a-HKG', 'CF-Cache-Status': 'DYNAMIC', 'Access-Control-Allow-Origin': '*', 'Set-Cookie': 'JSESSIONID=9EE8A2C2EF43BA652162CF012BF6AF39; Path=/api/; HttpOnly', 'Vary': 'Accept-Encoding', 'Server': 'cloudflare', 'Content-Encoding': 'gzip'}

-   So the content that we get from that URL is a JSON style content so we convert it to JSON format and save to a Dataframe

In [4]:
raw_df = pd.DataFrame(content.json()['data'])
raw_df.head()

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,QCL,Crops and livestock products,237,Viet Nam,5312,Area harvested,711,"Anise, badian, coriander, cumin, caraway, fenn...",1961,1961,ha,1000,E,Estimated value,
1,QCL,Crops and livestock products,237,Viet Nam,5419,Yield,711,"Anise, badian, coriander, cumin, caraway, fenn...",1961,1961,100 g/ha,7000,E,Estimated value,
2,QCL,Crops and livestock products,237,Viet Nam,5510,Production,711,"Anise, badian, coriander, cumin, caraway, fenn...",1961,1961,t,700,E,Estimated value,
3,QCL,Crops and livestock products,237,Viet Nam,5312,Area harvested,711,"Anise, badian, coriander, cumin, caraway, fenn...",1962,1962,ha,1000,E,Estimated value,
4,QCL,Crops and livestock products,237,Viet Nam,5419,Yield,711,"Anise, badian, coriander, cumin, caraway, fenn...",1962,1962,100 g/ha,7000,E,Estimated value,

-   Let's test if we have at least 1000 observations and 5 fields

In [5]:
shape = raw_df.shape

In [6]:
# TEST
print(f"Current shape: {shape}")

if shape[0] >= 1000 and shape[1] >= 5:
    print(f"Data good!.")
else:
    print(f"Raw data absolutely small")

Current shape: (15070, 15)
Data good!.

### Save collected data to file
-   Now we save the DataFrame to a csv file

In [8]:
raw_df.to_csv("../data/raw/raw_data.csv", index= False)