<div style="text-align: center; background-color: #5A96E3; font-family: 'Trebuchet MS', Arial, sans-serif; color: white; padding: 20px; font-size: 40px; font-weight: bold; border-radius: 0 0 0 0; box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);">
  Data collecting
</div>

<div style= "color: white">
<center>
Group 10

Quách Tấn Dũng - 21127247

Phạm Trần Minh Duy - 21127257

Đặng Quốc Thái - 21127545
</center>
</div>

In [3]:
import pandas as pd
import requests
import json

### Collect data
-   Data get from: 
    -   https://data.apps.fao.org/
    -   https://www.fao.org/faostat/en/#data

### What data we will collect:

In [4]:
domain_code = pd.read_csv("../data/external/domain_code.csv")
domain_code

  Domain Code                              Domain
0         QCL        Crops and livestock products
1          QV    Value of Agricultural Production
2          OA                   Annual population
3         OEA  Employment Indicators: Agriculture
4         OER        Employment Indicators: Rural

In [6]:
area_code = 237 # Vietnam area code according to FAO

contents = []

for code in domain_code['Domain Code']:
    contents.append(requests.get(f"https://fenixservices.fao.org/faostat/api/v1/en/data/{code}?area={area_code}"))

-   what type of content we just collected?

In [7]:
print(contents[0].headers['Content-Type'])

application/json; charset=utf-8

-   So the content that we get from that URL is a JSON style content so we convert it to JSON format and save to a Dataframe

In [8]:
raw_dfs = []
for con in contents:
    raw_dfs.append(pd.DataFrame(con.json()['data']))

for df in raw_dfs:
    display(df.head(3))

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,QCL,Crops and livestock products,237,Viet Nam,5312,Area harvested,711,"Anise, badian, coriander, cumin, caraway, fenn...",1961,1961,ha,1000,E,Estimated value,
1,QCL,Crops and livestock products,237,Viet Nam,5419,Yield,711,"Anise, badian, coriander, cumin, caraway, fenn...",1961,1961,100 g/ha,7000,E,Estimated value,
2,QCL,Crops and livestock products,237,Viet Nam,5510,Production,711,"Anise, badian, coriander, cumin, caraway, fenn...",1961,1961,t,700,E,Estimated value,

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,QV,Value of Agricultural Production,237,Viet Nam,152,Gross Production Value (constant 2014-2016 tho...,711,"Anise, badian, coriander, cumin, caraway, fenn...",1961,1961,1000 Int. $,1521,E,Estimated value
1,QV,Value of Agricultural Production,237,Viet Nam,152,Gross Production Value (constant 2014-2016 tho...,711,"Anise, badian, coriander, cumin, caraway, fenn...",1962,1962,1000 Int. $,1521,E,Estimated value
2,QV,Value of Agricultural Production,237,Viet Nam,152,Gross Production Value (constant 2014-2016 tho...,711,"Anise, badian, coriander, cumin, caraway, fenn...",1963,1963,1000 Int. $,1521,E,Estimated value

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,OA,Annual population,237,Viet Nam,511,Total Population - Both sexes,3010,Population - Est. & Proj.,1950,1950,1000 No,25109.2,X,Figure from international organizations,
1,OA,Annual population,237,Viet Nam,512,Total Population - Male,3010,Population - Est. & Proj.,1950,1950,1000 No,12408.031,X,Figure from international organizations,
2,OA,Annual population,237,Viet Nam,513,Total Population - Female,3010,Population - Est. & Proj.,1950,1950,1000 No,12701.169,X,Figure from international organizations,

,Domain Code,Domain,Area Code,Area,Indicator Code,Indicator,Sex Code,Sex,Year Code,Year,Element Code,Element,Source Code,Source,Unit,Value,Flag,Flag Description,Note
0,OEA,Employment Indicators: Agriculture,237,Viet Nam,21144,"Employment in agriculture, forestry and fishin...",1,Total,1991,1991,6199,Value,3043,ILO - ILO Modelled Estimates,1000 No,24059.27,X,Figure from international organizations,
1,OEA,Employment Indicators: Agriculture,237,Viet Nam,21144,"Employment in agriculture, forestry and fishin...",1,Total,1992,1992,6199,Value,3043,ILO - ILO Modelled Estimates,1000 No,24384.94,X,Figure from international organizations,
2,OEA,Employment Indicators: Agriculture,237,Viet Nam,21144,"Employment in agriculture, forestry and fishin...",1,Total,1993,1993,6199,Value,3043,ILO - ILO Modelled Estimates,1000 No,24641.43,X,Figure from international organizations,

,Domain Code,Domain,Area Code,Area,Indicator Code,Indicator,Sex Code,Sex,Year Code,Year,Element Code,Element,Source Code,Source,Unit,Value,Flag,Flag Description,Note
0,OER,Employment Indicators: Rural,237,Viet Nam,21087,"Employment by age, total (15+), rural areas",1,Total,2007,2007,6199,Value,3023,Labour force survey,1000 No,34098.44,X,Figure from international organizations,Break in series: Methodology revised Repositor...
1,OER,Employment Indicators: Rural,237,Viet Nam,21087,"Employment by age, total (15+), rural areas",1,Total,2009,2009,6199,Value,3023,Labour force survey,1000 No,34615.17,X,Figure from international organizations,Repository: ILO-STATISTICS - Micro data proces...
2,OER,Employment Indicators: Rural,237,Viet Nam,21087,"Employment by age, total (15+), rural areas",1,Total,2010,2010,6199,Value,3023,Labour force survey,1000 No,35839.5,X,Figure from international organizations,Repository: ILO-STATISTICS - Micro data proces...

-   Let's test if we have at least 1000 observations and 5 fields

In [10]:
for df in raw_dfs:
    print(df.shape)

(15070, 15)
(13785, 14)
(655, 15)
(1096, 19)
(936, 19)

-   Look good enough!

### Save collected data to file
-   Now we save the DataFrame to a csv file

In [7]:
for df in raw_dfs:
    domain_code = df['Domain Code'].values[0]
    df.to_csv(f"../data/raw/{domain_code}.csv", index= False)