<div style="text-align: center; background-color: #5A96E3; font-family: 'Trebuchet MS', Arial, sans-serif; color: white; padding: 20px; font-size: 40px; font-weight: bold; border-radius: 0 0 0 0; box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);">
  Visualize Data
</div>

In [2]:
import pandas as pd

## Read data

In [3]:
annual_pop_df = pd.read_csv("../data/processed/preprocess_OA.csv")

agri_employ_df = pd.read_csv("../data/processed/preprocess_OEA.csv")

rural_employ_df = pd.read_csv("../data/processed/preprocess_OER.csv")

products_df = pd.read_csv("../data/processed/preprocess_QV.csv")

values_df = pd.read_csv("../data/processed/preprocess_QCL.csv")

In [4]:
display(annual_pop_df.head(3))
display(agri_employ_df.head(3))
display(rural_employ_df.head(3))
display(values_df.head(3))
display(products_df.head(3))

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year,Unit,Value,Flag,Flag Description,Note
0,OA,Annual population,237,Viet Nam,511,Total Population - Both sexes,3010,Population - Est. & Proj.,1950,1000 No,25109.200,X,Figure from international organizations,NaN
1,OA,Annual population,237,Viet Nam,512,Total Population - Male,3010,Population - Est. & Proj.,1950,1000 No,12408.031,X,Figure from international organizations,NaN
2,OA,Annual population,237,Viet Nam,513,Total Population - Female,3010,Population - Est. & Proj.,1950,1000 No,12701.169,X,Figure from international organizations,NaN

,Domain Code,Domain,Area Code,Area,Indicator Code,Indicator,Sex Code,Sex,Year,Element Code,Element,Source Code,Source,Unit,Value,Flag,Flag Description,Note
0,OEA,Employment Indicators: Agriculture,237,Viet Nam,21144,"Employment in agriculture, forestry and fishin...",1,Total,1991,6199,Value,3043,ILO - ILO Modelled Estimates,1000 No,24059.27,X,Figure from international organizations,NaN
1,OEA,Employment Indicators: Agriculture,237,Viet Nam,21144,"Employment in agriculture, forestry and fishin...",1,Total,1992,6199,Value,3043,ILO - ILO Modelled Estimates,1000 No,24384.94,X,Figure from international organizations,NaN
2,OEA,Employment Indicators: Agriculture,237,Viet Nam,21144,"Employment in agriculture, forestry and fishin...",1,Total,1993,6199,Value,3043,ILO - ILO Modelled Estimates,1000 No,24641.43,X,Figure from international organizations,NaN

,Domain Code,Domain,Area Code,Area,Indicator Code,Indicator,Sex Code,Sex,Year,Element Code,Element,Source Code,Source,Unit,Value,Flag,Flag Description,Note
0,OER,Employment Indicators: Rural,237,Viet Nam,21087,"Employment by age, total (15+), rural areas",1,Total,2007,6199,Value,3023,Labour force survey,1000 No,34098.44,X,Figure from international organizations,Break in series: Methodology revised Repositor...
1,OER,Employment Indicators: Rural,237,Viet Nam,21087,"Employment by age, total (15+), rural areas",1,Total,2009,6199,Value,3023,Labour force survey,1000 No,34615.17,X,Figure from international organizations,Repository: ILO-STATISTICS - Micro data proces...
2,OER,Employment Indicators: Rural,237,Viet Nam,21087,"Employment by age, total (15+), rural areas",1,Total,2010,6199,Value,3023,Labour force survey,1000 No,35839.50,X,Figure from international organizations,Repository: ILO-STATISTICS - Micro data proces...

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year,Unit,Value,Flag,Flag Description
0,QV,Value of Agricultural Production,237,Viet Nam,152,Gross Production Value (constant 2014-2016 tho...,711,"Anise, badian, coriander, cumin, caraway, fenn...",1961,1000 Int. $,1521,E,Estimated value
1,QV,Value of Agricultural Production,237,Viet Nam,152,Gross Production Value (constant 2014-2016 tho...,711,"Anise, badian, coriander, cumin, caraway, fenn...",1962,1000 Int. $,1521,E,Estimated value
2,QV,Value of Agricultural Production,237,Viet Nam,152,Gross Production Value (constant 2014-2016 tho...,711,"Anise, badian, coriander, cumin, caraway, fenn...",1963,1000 Int. $,1521,E,Estimated value

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year,Unit,Value,Flag,Flag Description,Note
0,QCL,Crops and livestock products,237,Viet Nam,5312,Area harvested,711,"Anise, badian, coriander, cumin, caraway, fenn...",1961,ha,1000.0,E,Estimated value,NaN
1,QCL,Crops and livestock products,237,Viet Nam,5419,Yield,711,"Anise, badian, coriander, cumin, caraway, fenn...",1961,100 g/ha,7000.0,E,Estimated value,NaN
2,QCL,Crops and livestock products,237,Viet Nam,5510,Production,711,"Anise, badian, coriander, cumin, caraway, fenn...",1961,t,700.0,E,Estimated value,NaN

### Correlation between total population and production of each item each year

In [24]:
# products_df[products_df['Item']]

array(['Anise, badian, coriander, cumin, caraway, fennel and juniper berries, raw',
       'Avocados', 'Bananas', 'Beans, dry', 'Beer of barley, malted',
       'Bees', 'Beeswax', 'Buffalo', 'Buffalo fat, unrendered',
       'Buttermilk, dry', 'Cabbages', 'Cashew nuts, in shell',
       'Cassava, fresh', 'Castor oil seeds', 'Cattle',
       'Cattle fat, unrendered', 'Cauliflowers and broccoli', 'Chickens',
       'Chillies and peppers, dry (Capsicum spp., Pimenta spp.), raw',
       'Cinnamon and cinnamon-tree flowers, raw', 'Cocoa beans',
       'Coconut oil', 'Coconuts, in shell', 'Coffee, green', 'Coir, raw',
       'Cotton lint, ginned', 'Cotton seed', 'Cottonseed oil', 'Ducks',
       'Edible offal of buffalo, fresh, chilled or frozen',
       'Edible offal of cattle, fresh, chilled or frozen',
       'Edible offal of goat, fresh, chilled or frozen',
       'Edible offal of pigs, fresh, chilled or frozen',
       'Edible offals of horses and other equines,  fresh, chilled or frozen',
       'Eggs from other birds in shell, fresh, n.e.c.', 'Fat of pigs',
       'Goat fat, unrendered', 'Goats', 'Grapes',
       'Green tea (not fermented), black tea (fermented) and partly fermented tea',
       'Groundnut oil', 'Groundnuts, excluding shelled',
       'Hen eggs in shell, fresh', 'Horse meat, fresh or chilled',
       'Horses', 'Jute, raw or retted', 'Maize (corn)',
       'Mangoes, guavas and mangosteens',
       'Meat of buffalo, fresh or chilled',
       'Meat of cattle with the bone, fresh or chilled',
       'Meat of chickens, fresh or chilled',
       'Meat of ducks, fresh or chilled',
       'Meat of goat, fresh or chilled',
       'Meat of pig with the bone, fresh or chilled', 'Millet',
       'Molasses', 'Mushrooms and truffles', 'Natural honey',
       'Natural rubber in primary forms', 'Oil of sesame seed',
       'Onions and shallots, dry (excluding dehydrated)', 'Oranges',
       'Other berries and fruits of the genus vaccinium n.e.c.',
       'Other fibre crops, raw, n.e.c.', 'Other fruits, n.e.c.',
       'Other meat n.e.c. (excluding mammals), fresh, chilled or frozen',
       'Other nuts (excluding wild edible nuts and groundnuts), in shell, n.e.c.',
       'Other pulses n.e.c.', 'Other vegetables, fresh n.e.c.', 'Papayas',
       'Pepper (Piper spp.), raw', 'Pineapples',
       'Pomelos and grapefruits', 'Potatoes',
       'Raw cane or beet sugar (centrifugal only)',
       'Raw hides and skins of buffaloes',
       'Raw hides and skins of cattle',
       'Raw hides and skins of goats or kids', 'Raw milk of buffalo',
       'Raw milk of cattle', 'Raw silk (not thrown)', 'Rice', 'Rye',
       'Seed cotton, unginned', 'Sesame seed',
       'Silk-worm cocoons suitable for reeling', 'Sorghum',
       'Soya bean oil', 'Soya beans', 'Sugar cane', 'Sweet potatoes',
       'Swine / pigs', 'Tallow', 'Tea leaves', 'Unmanufactured tobacco',
       'Watermelons', 'Whole milk powder', 'Whole milk, condensed',
       'Wine', 'Yoghurt', 'Beef and Buffalo Meat, primary',
       'Cattle and Buffaloes', 'Cereals, primary', 'Citrus Fruit, Total',
       'Eggs Primary', 'Evaporated & Condensed Milk',
       'Fibre Crops, Fibre Equivalent', 'Fruit Primary', 'Meat, Poultry',
       'Meat, Total', 'Milk, Total', 'Oilcrops, Cake Equivalent',
       'Oilcrops, Oil Equivalent', 'Poultry Birds', 'Pulses, Total',
       'Roots and Tubers, Total', 'Sheep and Goat Meat',
       'Sheep and Goats', 'Skim Milk & Buttermilk, Dry',
       'Sugar Crops Primary', 'Treenuts, Total', 'Vegetables Primary'],
      dtype=object)