<div style="text-align: center; background-color: #5A96E3; font-family: 'Trebuchet MS', Arial, sans-serif; color: white; padding: 20px; font-size: 40px; font-weight: bold; border-radius: 0 0 0 0; box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);">
  Visualize Data
</div>

In [14]:
import pandas as pd

In [25]:
annual_pop_df = pd.read_csv("../data/raw/OA.csv")
agri_employments_df = pd.read_csv("../data/raw/OEA.csv")
rural_employments_df = pd.read_csv("../data/raw/OER.csv")
values_df = pd.read_csv("../data/raw/QCL.csv")
products_df = pd.read_csv("../data/raw/QV.csv")

In [37]:
display(annual_pop_df.head(3))
display(agri_employments_df.head(3))
display(rural_employments_df.head(3))
display(values_df.head(3))
display(products_df.head(3))

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,OA,Annual population,237,Viet Nam,511,Total Population - Both sexes,3010,Population - Est. & Proj.,1950,1950,1000 No,25109.200,X,Figure from international organizations,NaN
1,OA,Annual population,237,Viet Nam,512,Total Population - Male,3010,Population - Est. & Proj.,1950,1950,1000 No,12408.031,X,Figure from international organizations,NaN
2,OA,Annual population,237,Viet Nam,513,Total Population - Female,3010,Population - Est. & Proj.,1950,1950,1000 No,12701.169,X,Figure from international organizations,NaN

,Domain Code,Domain,Area Code,Area,Indicator Code,Indicator,Sex Code,Sex,Year Code,Year,Element Code,Element,Source Code,Source,Unit,Value,Flag,Flag Description,Note
0,OEA,Employment Indicators: Agriculture,237,Viet Nam,21144,"Employment in agriculture, forestry and fishin...",1,Total,1991,1991,6199,Value,3043,ILO - ILO Modelled Estimates,1000 No,24059.27,X,Figure from international organizations,NaN
1,OEA,Employment Indicators: Agriculture,237,Viet Nam,21144,"Employment in agriculture, forestry and fishin...",1,Total,1992,1992,6199,Value,3043,ILO - ILO Modelled Estimates,1000 No,24384.94,X,Figure from international organizations,NaN
2,OEA,Employment Indicators: Agriculture,237,Viet Nam,21144,"Employment in agriculture, forestry and fishin...",1,Total,1993,1993,6199,Value,3043,ILO - ILO Modelled Estimates,1000 No,24641.43,X,Figure from international organizations,NaN

,Domain Code,Domain,Area Code,Area,Indicator Code,Indicator,Sex Code,Sex,Year Code,Year,Element Code,Element,Source Code,Source,Unit,Value,Flag,Flag Description,Note
0,OER,Employment Indicators: Rural,237,Viet Nam,21087,"Employment by age, total (15+), rural areas",1,Total,2007,2007,6199,Value,3023,Labour force survey,1000 No,34098.44,X,Figure from international organizations,Break in series: Methodology revised Repositor...
1,OER,Employment Indicators: Rural,237,Viet Nam,21087,"Employment by age, total (15+), rural areas",1,Total,2009,2009,6199,Value,3023,Labour force survey,1000 No,34615.17,X,Figure from international organizations,Repository: ILO-STATISTICS - Micro data proces...
2,OER,Employment Indicators: Rural,237,Viet Nam,21087,"Employment by age, total (15+), rural areas",1,Total,2010,2010,6199,Value,3023,Labour force survey,1000 No,35839.50,X,Figure from international organizations,Repository: ILO-STATISTICS - Micro data proces...

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,QCL,Crops and livestock products,237,Viet Nam,5312,Area harvested,711,"Anise, badian, coriander, cumin, caraway, fenn...",1961,1961,ha,1000.0,E,Estimated value,NaN
1,QCL,Crops and livestock products,237,Viet Nam,5419,Yield,711,"Anise, badian, coriander, cumin, caraway, fenn...",1961,1961,100 g/ha,7000.0,E,Estimated value,NaN
2,QCL,Crops and livestock products,237,Viet Nam,5510,Production,711,"Anise, badian, coriander, cumin, caraway, fenn...",1961,1961,t,700.0,E,Estimated value,NaN

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,QV,Value of Agricultural Production,237,Viet Nam,152,Gross Production Value (constant 2014-2016 tho...,711,"Anise, badian, coriander, cumin, caraway, fenn...",1961,1961,1000 Int. $,1521,E,Estimated value
1,QV,Value of Agricultural Production,237,Viet Nam,152,Gross Production Value (constant 2014-2016 tho...,711,"Anise, badian, coriander, cumin, caraway, fenn...",1962,1962,1000 Int. $,1521,E,Estimated value
2,QV,Value of Agricultural Production,237,Viet Nam,152,Gross Production Value (constant 2014-2016 tho...,711,"Anise, badian, coriander, cumin, caraway, fenn...",1963,1963,1000 Int. $,1521,E,Estimated value

-   `annual_pop_df`, `values_df`, and `products_df` have the same fields with each others, so we concentrate to 1 dataframe.
-   `agri_employments_df` and `rural_employments_df` also have the same fields with each others, so we concentrate to 1 dataframe.

In [29]:
# they all data about some element so we make a 'element' dataframe
elements_df = pd.concat([annual_pop_df, products_df, values_df])
elements_df.head()

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,OA,Annual population,237,Viet Nam,511,Total Population - Both sexes,3010,Population - Est. & Proj.,1950,1950,1000 No,25109.200,X,Figure from international organizations,NaN
1,OA,Annual population,237,Viet Nam,512,Total Population - Male,3010,Population - Est. & Proj.,1950,1950,1000 No,12408.031,X,Figure from international organizations,NaN
2,OA,Annual population,237,Viet Nam,513,Total Population - Female,3010,Population - Est. & Proj.,1950,1950,1000 No,12701.169,X,Figure from international organizations,NaN
3,OA,Annual population,237,Viet Nam,551,Rural population,3010,Population - Est. & Proj.,1950,1950,1000 No,21921.843,X,Figure from international organizations,NaN
4,OA,Annual population,237,Viet Nam,561,Urban population,3010,Population - Est. & Proj.,1950,1950,1000 No,2888.063,X,Figure from international organizations,NaN

In [32]:
# they all data about some element so we make a 'indicator' dataframe
indicators_df  = pd.concat([agri_employments_df, rural_employments_df])
indicators_df.head()

,Domain Code,Domain,Area Code,Area,Indicator Code,Indicator,Sex Code,Sex,Year Code,Year,Element Code,Element,Source Code,Source,Unit,Value,Flag,Flag Description,Note
0,OEA,Employment Indicators: Agriculture,237,Viet Nam,21144,"Employment in agriculture, forestry and fishin...",1,Total,1991,1991,6199,Value,3043,ILO - ILO Modelled Estimates,1000 No,24059.27,X,Figure from international organizations,NaN
1,OEA,Employment Indicators: Agriculture,237,Viet Nam,21144,"Employment in agriculture, forestry and fishin...",1,Total,1992,1992,6199,Value,3043,ILO - ILO Modelled Estimates,1000 No,24384.94,X,Figure from international organizations,NaN
2,OEA,Employment Indicators: Agriculture,237,Viet Nam,21144,"Employment in agriculture, forestry and fishin...",1,Total,1993,1993,6199,Value,3043,ILO - ILO Modelled Estimates,1000 No,24641.43,X,Figure from international organizations,NaN
3,OEA,Employment Indicators: Agriculture,237,Viet Nam,21144,"Employment in agriculture, forestry and fishin...",1,Total,1994,1994,6199,Value,3043,ILO - ILO Modelled Estimates,1000 No,24875.18,X,Figure from international organizations,NaN
4,OEA,Employment Indicators: Agriculture,237,Viet Nam,21144,"Employment in agriculture, forestry and fishin...",1,Total,1995,1995,6199,Value,3043,ILO - ILO Modelled Estimates,1000 No,25101.97,X,Figure from international organizations,NaN

### Determine the features that have a large number of missing values

In [34]:
percent_missing = elements_df.isnull().sum() * 100 / len(elements_df)
missing_value_df = pd.DataFrame({'column_name': elements_df.columns,
                                 'percent_missing': percent_missing})
display(missing_value_df)

percent_missing = indicators_df.isnull().sum() * 100 / len(indicators_df)
missing_value_df = pd.DataFrame({'column_name': indicators_df.columns,
                                 'percent_missing': percent_missing})
display(missing_value_df)

                       column_name  percent_missing
Domain Code            Domain Code         0.000000
Domain                      Domain         0.000000
Area Code                Area Code         0.000000
Area                          Area         0.000000
Element Code          Element Code         0.000000
Element                    Element         0.000000
Item Code                Item Code         0.000000
Item                          Item         0.000000
Year Code                Year Code         0.000000
Year                          Year         0.000000
Unit                          Unit         0.000000
Value                        Value         0.000000
Flag                          Flag         0.000000
Flag Description  Flag Description         0.000000
Note                          Note        98.143002

                       column_name  percent_missing
Domain Code            Domain Code         0.000000
Domain                      Domain         0.000000
Area Code                Area Code         0.000000
Area                          Area         0.000000
Indicator Code      Indicator Code         0.000000
Indicator                Indicator         0.000000
Sex Code                  Sex Code         0.000000
Sex                            Sex         0.000000
Year Code                Year Code         0.000000
Year                          Year         0.000000
Element Code          Element Code         0.000000
Element                    Element         0.000000
Source Code            Source Code         0.000000
Source                      Source         0.000000
Unit                          Unit         0.000000
Value                        Value         0.000000
Flag                          Flag         0.000000
Flag Description  Flag Description         0.000000
Note                          Note         2.608268

-   We gonna choose >= 75% is missing a lot of values, so we have to drop the `Note` column of `elements_df` (~98%).
-   Second we have to drop the `Note` column of `indicators_df`, although just missing about 2.6% of data, but they are nearly all the same, and we have plan to join all these data to 1 big dataframe so it have to go.

In [38]:
elements_df = elements_df.drop(columns='Note')
indicators_df = indicators_df.drop(columns='Note')
display(elements_df.head(3))
display(indicators_df.head(3))

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,OA,Annual population,237,Viet Nam,511,Total Population - Both sexes,3010,Population - Est. & Proj.,1950,1950,1000 No,25109.200,X,Figure from international organizations
1,OA,Annual population,237,Viet Nam,512,Total Population - Male,3010,Population - Est. & Proj.,1950,1950,1000 No,12408.031,X,Figure from international organizations
2,OA,Annual population,237,Viet Nam,513,Total Population - Female,3010,Population - Est. & Proj.,1950,1950,1000 No,12701.169,X,Figure from international organizations

,Domain Code,Domain,Area Code,Area,Indicator Code,Indicator,Sex Code,Sex,Year Code,Year,Element Code,Element,Source Code,Source,Unit,Value,Flag,Flag Description
0,OEA,Employment Indicators: Agriculture,237,Viet Nam,21144,"Employment in agriculture, forestry and fishin...",1,Total,1991,1991,6199,Value,3043,ILO - ILO Modelled Estimates,1000 No,24059.27,X,Figure from international organizations
1,OEA,Employment Indicators: Agriculture,237,Viet Nam,21144,"Employment in agriculture, forestry and fishin...",1,Total,1992,1992,6199,Value,3043,ILO - ILO Modelled Estimates,1000 No,24384.94,X,Figure from international organizations
2,OEA,Employment Indicators: Agriculture,237,Viet Nam,21144,"Employment in agriculture, forestry and fishin...",1,Total,1993,1993,6199,Value,3043,ILO - ILO Modelled Estimates,1000 No,24641.43,X,Figure from international organizations

### Check data type of each columns

In [ ]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15070 entries, 0 to 15069
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Domain Code       15070 non-null  object
 1   Domain            15070 non-null  object
 2   Area Code         15070 non-null  int64
 3   Area              15070 non-null  object
 4   Element Code      15070 non-null  int64
 5   Element           15070 non-null  object
 6   Item Code         15070 non-null  int64
 7   Item              15070 non-null  object
 8   Year              15070 non-null  int64
 9   Unit              15070 non-null  object
 10  Value             15070 non-null  float64
 11  Flag              15070 non-null  object
 12  Flag Description  15070 non-null  object
dtypes: float64(1), int64(4), object(8)
memory usage: 1.5+ MB

`Area Code`, `Element Code`, `Item Code`, `Year` have numeric type. However, their magnitude does not have a significance. And, `Year` actually represents a period instead of a number, `Area Code`, `Element Code`, `Item Code` is just a category. Thus, they can be convert to categorical type.

In [ ]:
for col in raw_df.drop(columns= 'Value').columns:
    raw_df[col] = raw_df[col].astype(str)
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15070 entries, 0 to 15069
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Domain Code       15070 non-null  object
 1   Domain            15070 non-null  object
 2   Area Code         15070 non-null  object
 3   Area              15070 non-null  object
 4   Element Code      15070 non-null  object
 5   Element           15070 non-null  object
 6   Item Code         15070 non-null  object
 7   Item              15070 non-null  object
 8   Year              15070 non-null  object
 9   Unit              15070 non-null  object
 10  Value             15070 non-null  float64
 11  Flag              15070 non-null  object
 12  Flag Description  15070 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.5+ MB

### Observation about the distribution of data
-

### We try to merge data of same year into 1 row

In [ ]:
raw_df

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year,Unit,Value,Flag,Flag Description
0,QCL,Crops and livestock products,237,Viet Nam,5312,Area harvested,711,"Anise, badian, coriander, cumin, caraway, fenn...",1961,ha,1000.00,E,Estimated value
1,QCL,Crops and livestock products,237,Viet Nam,5419,Yield,711,"Anise, badian, coriander, cumin, caraway, fenn...",1961,100 g/ha,7000.00,E,Estimated value
2,QCL,Crops and livestock products,237,Viet Nam,5510,Production,711,"Anise, badian, coriander, cumin, caraway, fenn...",1961,t,700.00,E,Estimated value
3,QCL,Crops and livestock products,237,Viet Nam,5312,Area harvested,711,"Anise, badian, coriander, cumin, caraway, fenn...",1962,ha,1000.00,E,Estimated value
4,QCL,Crops and livestock products,237,Viet Nam,5419,Yield,711,"Anise, badian, coriander, cumin, caraway, fenn...",1962,100 g/ha,7000.00,E,Estimated value
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15065,QCL,Crops and livestock products,237,Viet Nam,5419,Yield,1735,Vegetables Primary,2020,100 g/ha,170584.00,E,Estimated value
15066,QCL,Crops and livestock products,237,Viet Nam,5510,Production,1735,Vegetables Primary,2020,t,17006433.11,E,Estimated value
15067,QCL,Crops and livestock products,237,Viet Nam,5312,Area harvested,1735,Vegetables Primary,2021,ha,1002974.00,E,Estimated value
15068,QCL,Crops and livestock products,237,Viet Nam,5419,Yield,1735,Vegetables Primary,2021,100 g/ha,171731.00,E,Estimated value
15069,QCL,Crops and livestock products,237,Viet Nam,5510,Production,1735,Vegetables Primary,2021,t,17224210.24,E,Estimated value

-   Split the data to 3 dataframes, each for one element

In [ ]:
area_harvest_df = raw_df[raw_df['Element'] == 'Area harvested']
yield_df = raw_df[raw_df['Element'] == 'Yield']
production_df = raw_df[raw_df['Element'] == 'Production']

display(area_harvest_df.head(3))
display(yield_df.head(3))
display(production_df.head(3))

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year,Unit,Value,Flag,Flag Description
0,QCL,Crops and livestock products,237,Viet Nam,5312,Area harvested,711,"Anise, badian, coriander, cumin, caraway, fenn...",1961,ha,1000.0,E,Estimated value
3,QCL,Crops and livestock products,237,Viet Nam,5312,Area harvested,711,"Anise, badian, coriander, cumin, caraway, fenn...",1962,ha,1000.0,E,Estimated value
6,QCL,Crops and livestock products,237,Viet Nam,5312,Area harvested,711,"Anise, badian, coriander, cumin, caraway, fenn...",1963,ha,1000.0,E,Estimated value

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year,Unit,Value,Flag,Flag Description
1,QCL,Crops and livestock products,237,Viet Nam,5419,Yield,711,"Anise, badian, coriander, cumin, caraway, fenn...",1961,100 g/ha,7000.0,E,Estimated value
4,QCL,Crops and livestock products,237,Viet Nam,5419,Yield,711,"Anise, badian, coriander, cumin, caraway, fenn...",1962,100 g/ha,7000.0,E,Estimated value
7,QCL,Crops and livestock products,237,Viet Nam,5419,Yield,711,"Anise, badian, coriander, cumin, caraway, fenn...",1963,100 g/ha,7000.0,E,Estimated value

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year,Unit,Value,Flag,Flag Description
2,QCL,Crops and livestock products,237,Viet Nam,5510,Production,711,"Anise, badian, coriander, cumin, caraway, fenn...",1961,t,700.0,E,Estimated value
5,QCL,Crops and livestock products,237,Viet Nam,5510,Production,711,"Anise, badian, coriander, cumin, caraway, fenn...",1962,t,700.0,E,Estimated value
8,QCL,Crops and livestock products,237,Viet Nam,5510,Production,711,"Anise, badian, coriander, cumin, caraway, fenn...",1963,t,700.0,E,Estimated value

-   Change the name of the column `Value` to `'{Element} ({Unit})'`

In [ ]:
element = area_harvest_df['Element'].values[0]
unit = area_harvest_df['Unit'].values[0]
area_harvest_df = area_harvest_df.rename(columns={'Value' : f"{element} ({unit})"})

element = yield_df['Element'].values[0]
unit = yield_df['Unit'].values[0]
yield_df = yield_df.rename(columns={'Value' : f"{element} ({unit})"})

element = production_df['Element'].values[0]
unit = production_df['Unit'].values[0]
production_df = production_df.rename(columns={'Value' : f"{element} ({unit})"})

In [ ]:
# Let check
display(area_harvest_df.head(3))
display(yield_df.head(3))
display(production_df.head(3))

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year,Unit,Area harvested (ha),Flag,Flag Description
0,QCL,Crops and livestock products,237,Viet Nam,5312,Area harvested,711,"Anise, badian, coriander, cumin, caraway, fenn...",1961,ha,1000.0,E,Estimated value
3,QCL,Crops and livestock products,237,Viet Nam,5312,Area harvested,711,"Anise, badian, coriander, cumin, caraway, fenn...",1962,ha,1000.0,E,Estimated value
6,QCL,Crops and livestock products,237,Viet Nam,5312,Area harvested,711,"Anise, badian, coriander, cumin, caraway, fenn...",1963,ha,1000.0,E,Estimated value

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year,Unit,Yield (100 g/ha),Flag,Flag Description
1,QCL,Crops and livestock products,237,Viet Nam,5419,Yield,711,"Anise, badian, coriander, cumin, caraway, fenn...",1961,100 g/ha,7000.0,E,Estimated value
4,QCL,Crops and livestock products,237,Viet Nam,5419,Yield,711,"Anise, badian, coriander, cumin, caraway, fenn...",1962,100 g/ha,7000.0,E,Estimated value
7,QCL,Crops and livestock products,237,Viet Nam,5419,Yield,711,"Anise, badian, coriander, cumin, caraway, fenn...",1963,100 g/ha,7000.0,E,Estimated value

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year,Unit,Production (t),Flag,Flag Description
2,QCL,Crops and livestock products,237,Viet Nam,5510,Production,711,"Anise, badian, coriander, cumin, caraway, fenn...",1961,t,700.0,E,Estimated value
5,QCL,Crops and livestock products,237,Viet Nam,5510,Production,711,"Anise, badian, coriander, cumin, caraway, fenn...",1962,t,700.0,E,Estimated value
8,QCL,Crops and livestock products,237,Viet Nam,5510,Production,711,"Anise, badian, coriander, cumin, caraway, fenn...",1963,t,700.0,E,Estimated value

-   Now we drop the `Element`, `Element Code` and `Unit` columns
-   Also have to drop the `Flag` and `Flag Description` because with confict with the merge

In [ ]:
area_harvest_df = area_harvest_df.drop(columns=['Element', 'Element Code', 'Unit', 'Flag', 'Flag Description'])

yield_df = yield_df.drop(columns=['Element', 'Element Code', 'Unit', 'Flag', 'Flag Description'])

production_df = production_df.drop(columns=['Element', 'Element Code', 'Unit', 'Flag', 'Flag Description'])

In [ ]:
# Let check
display(area_harvest_df.head(3))
display(yield_df.head(3))
display(production_df.head(3))

,Domain Code,Domain,Area Code,Area,Item Code,Item,Year,Area harvested (ha)
0,QCL,Crops and livestock products,237,Viet Nam,711,"Anise, badian, coriander, cumin, caraway, fenn...",1961,1000.0
3,QCL,Crops and livestock products,237,Viet Nam,711,"Anise, badian, coriander, cumin, caraway, fenn...",1962,1000.0
6,QCL,Crops and livestock products,237,Viet Nam,711,"Anise, badian, coriander, cumin, caraway, fenn...",1963,1000.0

,Domain Code,Domain,Area Code,Area,Item Code,Item,Year,Yield (100 g/ha)
1,QCL,Crops and livestock products,237,Viet Nam,711,"Anise, badian, coriander, cumin, caraway, fenn...",1961,7000.0
4,QCL,Crops and livestock products,237,Viet Nam,711,"Anise, badian, coriander, cumin, caraway, fenn...",1962,7000.0
7,QCL,Crops and livestock products,237,Viet Nam,711,"Anise, badian, coriander, cumin, caraway, fenn...",1963,7000.0

,Domain Code,Domain,Area Code,Area,Item Code,Item,Year,Production (t)
2,QCL,Crops and livestock products,237,Viet Nam,711,"Anise, badian, coriander, cumin, caraway, fenn...",1961,700.0
5,QCL,Crops and livestock products,237,Viet Nam,711,"Anise, badian, coriander, cumin, caraway, fenn...",1962,700.0
8,QCL,Crops and livestock products,237,Viet Nam,711,"Anise, badian, coriander, cumin, caraway, fenn...",1963,700.0

-   Let merge them

In [ ]:
raw_df = pd.merge(area_harvest_df, yield_df, on=['Year', 'Item Code', 'Area', 'Area Code', 'Domain', 'Domain Code', 'Item'])
raw_df = pd.merge(raw_df, production_df, on=['Year', 'Item Code', 'Area', 'Area Code', 'Domain', 'Domain Code', 'Item'])
raw_df

,Domain Code,Domain,Area Code,Area,Item Code,Item,Year,Area harvested (ha),Yield (100 g/ha),Production (t)
0,QCL,Crops and livestock products,237,Viet Nam,711,"Anise, badian, coriander, cumin, caraway, fenn...",1961,1000.0,7000.0,700.00
1,QCL,Crops and livestock products,237,Viet Nam,711,"Anise, badian, coriander, cumin, caraway, fenn...",1962,1000.0,7000.0,700.00
2,QCL,Crops and livestock products,237,Viet Nam,711,"Anise, badian, coriander, cumin, caraway, fenn...",1963,1000.0,7000.0,700.00
3,QCL,Crops and livestock products,237,Viet Nam,711,"Anise, badian, coriander, cumin, caraway, fenn...",1964,1000.0,8500.0,850.00
4,QCL,Crops and livestock products,237,Viet Nam,711,"Anise, badian, coriander, cumin, caraway, fenn...",1965,1000.0,8700.0,870.00
...,...,...,...,...,...,...,...,...,...,...
2978,QCL,Crops and livestock products,237,Viet Nam,1735,Vegetables Primary,2017,984965.0,159639.0,15723915.48
2979,QCL,Crops and livestock products,237,Viet Nam,1735,Vegetables Primary,2018,1006678.0,161589.0,16266791.68
2980,QCL,Crops and livestock products,237,Viet Nam,1735,Vegetables Primary,2019,991058.0,168246.0,16674164.74
2981,QCL,Crops and livestock products,237,Viet Nam,1735,Vegetables Primary,2020,996952.0,170584.0,17006433.11
2982,QCL,Crops and livestock products,237,Viet Nam,1735,Vegetables Primary,2021,1002974.0,171731.0,17224210.24

In [ ]:
raw_df

-   Split the data to 3 dataframes, each for one element

In [ ]:
area_harvest_df = raw_df[raw_df['Element'] == 'Area harvested']
yield_df = raw_df[raw_df['Element'] == 'Yield']
production_df = raw_df[raw_df['Element'] == 'Production']

display(area_harvest_df.head(3))
display(yield_df.head(3))
display(production_df.head(3))

-   Change the name of the column `Value` to `'{Element} ({Unit})'`

In [ ]:
element = area_harvest_df['Element'].values[0]
unit = area_harvest_df['Unit'].values[0]
area_harvest_df = area_harvest_df.rename(columns={'Value' : f"{element} ({unit})"})

element = yield_df['Element'].values[0]
unit = yield_df['Unit'].values[0]
yield_df = yield_df.rename(columns={'Value' : f"{element} ({unit})"})

element = production_df['Element'].values[0]
unit = production_df['Unit'].values[0]
production_df = production_df.rename(columns={'Value' : f"{element} ({unit})"})

In [ ]:
# Let check
display(area_harvest_df.head(3))
display(yield_df.head(3))
display(production_df.head(3))

-   Now we drop the `Element`, `Element Code` and `Unit` columns
-   Also have to drop the `Flag` and `Flag Description` because with confict with the merge

In [ ]:
area_harvest_df = area_harvest_df.drop(columns=['Element', 'Element Code', 'Unit', 'Flag', 'Flag Description'])

yield_df = yield_df.drop(columns=['Element', 'Element Code', 'Unit', 'Flag', 'Flag Description'])

production_df = production_df.drop(columns=['Element', 'Element Code', 'Unit', 'Flag', 'Flag Description'])

In [ ]:
# Let check
display(area_harvest_df.head(3))
display(yield_df.head(3))
display(production_df.head(3))

-   Let merge them

In [ ]:
raw_df = pd.merge(area_harvest_df, yield_df, on=['Year', 'Item Code', 'Area', 'Area Code', 'Domain', 'Domain Code', 'Item'])
raw_df = pd.merge(raw_df, production_df, on=['Year', 'Item Code', 'Area', 'Area Code', 'Domain', 'Domain Code', 'Item'])
raw_df